html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    touch-action: none;
    background-color: rgb(24, 24, 24);
    transition: background-color 1s ease;
    width: 100%;
    height: 100%;
}

table {
    margin-top: 0px;
    width: 301%;
    height: 201%;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
    border-spacing: 0px;
}

td {
    width: 100%;
    height: 50%;
}

#intro {
    background-color: rgb(24, 24, 24);
}

#intro-title {
    color: rgb(233, 135, 122);
}

#intro-content {
    color: antiquewhite;
}

#first {
    background-color: #E27D60;
    /* transform: skewY(-5deg); */
}

#first-title {
    color: rgb(250, 235, 215);
}

#first-content {
    color: rgb(207, 84, 50);
}

#fade1 {
    color: rgba(250, 235, 215, 1.0);
}

#fade2 {
    color: rgba(250, 235, 215, 0.8);
}

#fade3 {
    color: rgba(250, 235, 215, 0.6);
}

#fade4 {
    color: rgba(250, 235, 215, 0.4);
}

#fade5 {
    color: rgba(250, 235, 215, 0.2);
}

.fa-angle-double-up {
    font-size: 60px!important;
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%)!important;
}

.fa-angle-double-down {
    font-size: 60px!important;
    z-index: 2;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%)!important;
}

.fa-angle-double-left {
    font-size: 60px!important;
    z-index: 2;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(-50%, -50%)!important;
}

#second {
    background-color: rgb(24, 24, 24);
    /* transform: skewY(5deg); */
}

#second-title {
    color: antiquewhite;
}

#second-content {
    color: rgb(114, 78, 10);
}

#btn2 {
    background-color: rgb(17, 17, 17);
}

#third {
    background-color: rgb(212, 192, 4);
}

#third-title {
    color: antiquewhite;
}

#third-content {
    color: rgb(66, 66, 66);
}

#btn3 {
    background-color: rgb(177, 159, 3);
}

#fourth {
    background-color: #5D001E;
}

#fourth-title {
    color: antiquewhite;
}

#fourth-content {
    color: rgb(51, 0, 16);
}

#btn4 {
    background-color: rgb(51, 0, 16);
}

#fifth {
    background-color: #A86E12;
}

#fifth-title {
    color: antiquewhite;
}

#fifth-content {
    color: #663300;
}

#btn5 {
    background-color: #663300;
}

.ear, .bat, .tree, .syringe, .dog {
    color: rgb(231, 141, 116);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    font-size: 600px;
    z-index: -1;
}

.bat {
    color: rgb(17, 17, 17);
    font-size: 900px;
}

.tree {
    color: rgb(226, 207, 34);
    font-size: 500px;
}

.syringe {
    color: rgb(99, 15, 41);
}

.dog {
    color: rgb(179, 123, 35);
    font-size: 500px;
}

/* .banana {
    color: ;
} */

.click-anywhere {
    margin-top: 60px;
    padding: 10px;
    background-color: rgb(17, 17, 17);
    border-radius: 20px;
    color: antiquewhite;
    margin-right: 35%;
    margin-left: 35%;
    font-family: 'Oswald', sans-serif;
}

#btn1 {
    background-color: rgb(207, 84, 50);
}

.middle-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.middle {
    width: 100%;
    height: 100%;
}

.section-content {
    width: 100%;
    padding-top: 1px;
    padding-bottom: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-title {
    font-size: 60px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-top: -20px;
}

.section-info {
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 32px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}